<div class="image">
  <div class="layer">
    <div class="container" style="padding-top: 100px;">
      <div class="row">
        <div class="col-md-6 maps">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <div class="col-md-6 contactInfo">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus
            sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Sed dolore fugit vitae quia dicta inventore reiciendis. Ipsa, aut voluptas quaerat.
          </p>
          <ul class="social-links circle animated-effect-1">
            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
            <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
            <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
            <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
          </ul>
          <ul class="list-icons">
            <li><i class="fa fa-map-marker pr-10 text-default"></i> Maipu #889, Antofagasta</li>
            <li><i class="fa fa-phone pr-10 text-default"></i> (55)2893523</li>
            <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i> info@theproject.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>