<div class="services">
  <div class="container">
    <div class="services-area">
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-heartbeat fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Examenes</span></div>
            <section class="text_part">Aliquam ut lorem scelerisque, consequat mi quis, scelerisque massa.</section>
            <a class="readmore" href="/examenes">Read More</a>
          </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-download fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Resultados en linea</span></div>
            <section class="text_part">Aliquam ut lorem scelerisque, consequat mi quis, scelerisque massa.</section>
            <a class="readmore" href="/services">Read More</a> </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-handshake-o fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Convenios</span></div>
            <section class="text_part">Aliquam ut lorem scelerisque, consequat mi quis, scelerisque massa.</section>
            <a class="readmore" href="/convenios">Read More</a> </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-heart fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Heart Rate</span></div>
            <section class="text_part">Aliquam ut lorem scelerisque, consequat mi quis, scelerisque massa.</section>
            <a class="readmore" href="/services">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>