@import '../../../mq.scss';

.services{
    margin-top:-120px;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
    @include mobile{
        margin-top: 20px;
    }
}

.services-area{
    width: 100%;
    display: table;
    table-layout: fixed;
    .services-widget{
        background: rgba(121, 189, 154, 0.95);
        display: table-cell;
        position: relative;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        padding: 30px;
        vertical-align: top;
        &:nth-child(even){
            background: rgba(168, 219, 168, 0.95);
        }
        @include mobile{
            display: block;
            margin-bottom: 10px;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.32);
        }
        .widget-icon{
            margin-bottom: 0;
            display: block;
            line-height: 120px;
            width: 100%;
            vertical-align: top;
            margin-top: -10px;
            text-align: center;
        }
        .fa-size{
           font-size: 96px !important;
            width: auto;
            height: auto;
            text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
            background: transparent;
            border-style: none;
            color: #fff;
        }
        .widget-content{
            padding-bottom: 40px;
            padding-top: 15px;
        }
        .widget-title{
            border-left-style: none;
            color: #fff;
            margin-bottom: 10px;
            padding-left: 0;
            font-weight: 700;
        }
        .text_part{
            font-size: 14px;
            line-height: 19px;
            color: #fff;
            margin-bottom: 20px;
        }
        .readmore{
            
            z-index: 420;
            min-height: 32px;
            border-width: 3px;
            border-style: solid;
            border-color: #fff;
            background-color: transparent;
            color: #fff;
            font-size: 20px;
            line-height: 44px;
            text-align: center;
            font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
            position: relative;
            display: block;
            text-decoration: none;
            margin: 0 auto;
            p{
                color: #76D898;
                margin: 0 auto;
            }
            &:hover{
                background: #76D898;
                border-width: 2px;
                
                p{
                    color: #fff;
                }            
            }
    
        }
    }
}

.section-header{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 50px;
    h2{
        padding-bottom: 10px;
        line-height: 40px;
        position: relative;
        display: inline-block;
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #404040;
        font-weight: 700;
        @include mobile {
            font-size: 35px;
        }
    }
}

.focus-box{
    display: inline-block;
    float: none !important;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 25px;    
    text-align: center;
    h3{
        z-index: 411;
        min-height: 16px;
        color: #3F3C4F;
        font-size: 30px;
        line-height: 35px;
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
        position: relative;
        
    }
    p{
        font-size: 14px;
        color: #808080;
    }
    .fa-size{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 96px !important;
        width: auto;
        height: auto;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
        background: transparent;
    }
    .aButton{
        z-index: 420;
        width: 152px;
        min-height: 32px;
        border-width: 3px;
        border-style: solid;
        border-color: #76D898;
        background-color: transparent;
        color: #76D898;
        font-size: 20px;
        line-height: 44px;
        text-align: center;
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
        position: relative;
        display: block;
        text-decoration: none;
        margin: 0 auto;
        p{
            color: #76D898;
            margin: 0 auto;
        }
        &:hover{
            background: #76D898;
            border-width: 2px;
             
            p{
                color: #fff;
            }            
        }
    }
}

.grow{
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.service-icon{
    display: block;
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
}

.red-icon{
    //background: url('../../../assets/images/mision1.png');
    //background-repeat: no-repeat;
    //background-size: 100%;
    border: 10px solid #76D898;    
}
.green-icon{
    //background: url('../../../assets/images/vision1.png');
    //background-repeat: no-repeat;
    //background-size: 100%;
    border: 10px solid #76D898;
}
.blue-icon{
    //background: url('../../../assets/images/valores1.png');
    //background-repeat: no-repeat;
    //background-size: 100%;
    border: 10px solid #76D898;
}