<div class="centrar">
<div class="numberlist">
<ul>
  <li>Test de Tolerancia Glucosa (PTGO)</li>
  <li>Glicemia</li>
  <li>Nitrógeno Ureico</li>
  <li>Ácido úrico, Creatinina</li>
  <li>Clearence de Creatinina</li>
  <li>Albúmina/Prot.Totales</li>
  <li>Calcemia, Fosfemia</li>
  <li>Bilirrubina Total y Directa</li>
  <li>Fosfatasa Alcalina</li>
  <li>TGO/TGP</li>
  <li>GGT</li>
  <li>LDH</li>
  <li>Colesterol Total</li>
  <li>Colesterol HDL</li>
  <li>Triglicéridos</li>
  <li>ELP (Na, K, CL)</li>
  <li>Ácido Láctico</li>
  <li>PCR</li>
  <li>CK</li>
  <li>CK-MB</li>
  <li>Perfil Lipídico</li>
  <li>Perfil Bioquímico</li>
  <li>Perfil Hepático</li>
  <li>Hemoglobina Glicosilada</li>
</ul>
</div>
</div>