<app-navbar></app-navbar>
<div class="aboutus">
  <div class="image"></div>
  <div class="layer"></div>
  <div class="section-header">

    <h2>
      Sobre Nosotros
    </h2>
  </div>
  <div class="container top">

    <div class="services-widget row">
      <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-globe fa-size" style="color: #039BE5" aria-hidden="true"></i>
      </div>
      <div class=" col-sm-12 col-md-10 misionInfo">
        <h2 class="misionTItle">
          Misión
        </h2>
        <p>
          Ser un aporte dentro del sistema de salud, ofreciendo los servicios de Laboratorio Clínico en un lugar céntrico de la ciudad
          y de fácil acceso, con espacios físicos independientes y gran confort en sus instalaciones.
        </p>
        <p>
          Entregar un servicio eficiente, rápido, certero y oportuno en análisis de exámenes clínicos, que permitan el diagnóstico,
          pronósticos y seguimiento, por un profesional de la salud.
        </p>
        <p>
          Satisfacer las necesidades de adultos mayores, padres y/o madres ya sea para ellos o para sus hijos, profesionales médicos,
          entidades particulares y en general a toda la comunidad que solicite nuestros servicios y, que busquen en estos,
          una atención de excelencia que se traduzcan en resultados confiables.
        </p>
      </div>
    </div>
    <div class="services-widget row">
      <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-eye fa-size" style="color: #43A047" aria-hidden="true"></i>
      </div>
      <div class="col-sm-12 col-md-10 misionInfo">
        <h2 class="visionTItle">
          Vision
        </h2>
        <p>
          Ser el referente número uno en la zona en análisis clínicos y atención, con la más amplia diversidad de exámenes, contando
          con la mejor infraestructura y equipamiento de última tecnología que permita satisfacer las crecientes necesidades
          y demandas de las diversas especialidades de la medicina.
        </p>
        <p>
          Lo anterior acompañado del aumento de la dotación necesaria que permita mantener y/o mejorar la eficacia y eficiencia en
          la atención, los que estarán a cargo de los profesionales que actualmente desempeñan sus funciones en el Laboratorio,
          promoviendo así el crecimiento del personal.
        </p>
      </div>
    </div>
    <div class="services-widget row">
      <div class="col-sm-12 col-md-2 icon widget-icon">
        <i class="fa fa-handshake-o fa-size" style="color: #e53935" aria-hidden="true"></i>
      </div>
      <div class="col-sm-12 col-md-10 misionInfo">
        <h2 class="valoresTItle">
          Valores
        </h2>
        <ul class="valores">
          <li>Compromiso con la calidad de vida y salud de la comunidad.</li>
          <li>Compromiso con las buenas prácticas laborales y con el desarrollo de los colaboradores.</li>
          <li>Compromiso con la calidad y seguridad del paciente.</li>
          <li>Respeto por la privacidad, dignidad, autonomía y trato del paciente y sus acompañantes.</li>
          <li>Atención centrada en el paciente.</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>