<app-navbar></app-navbar>
<div class="convenios">
  <div class="image"></div>
  <div class="section-header">
    <h2>
      Nuestros Convenios
    </h2>
  </div>
  <div class="container">
    <div class="row column-top" align="center">
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_banmedica.png"  height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_colmena.png"  height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_consalud.png"height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_cruz_blanca.png" height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_cruz_del_norte.png" height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_fonasa.png"height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_Isapre_Chuquicamata.jpg" height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_nueva_masvida.png" height="60">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 column">
        <img src="/assets/images/convenios/logo_vida_tres.png" height="50">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>